<div class="modal fade" id="impressum" tabindex="-1" aria-labelledby="modal-label-impressum" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-label-impressum">Impressum</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Eleven Kaffeebar<br>
          Inhaber Antje Fischer<br>
          Schuhgasse 11, 01796 Pirna<br>
          <br>
          Telefon: 03501/4702967<br>
          E-Mail: info@eleven-kaffeebar.de<br>
          Internet: eleven-kaffeebar.de<br>
          <br>
          USt-IdNr: 210/355/02170<br>
          Registergericht: /<br>
          <br>
          Verantwortlich für den Inhalt der Website ist Antje Fischer.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="datenschutz" tabindex="-1" aria-labelledby="modal-label-datenschutz" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-label-datenschutz">Datenschutz</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>1) Datenschutzerklärung<br>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst.
          Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen
          Datenschutzvorschriften sowie dieser Datenschutzerklärung. Die Nutzung unserer Webseite ist in der Regel ohne
          Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name,
          Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.
          Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf hin,
          dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen
          kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br><br>2) Verweise und
          Links<br>Bei Verweisen auf fremde Internetseiten (Links), die außerhalb unseres Verantwortungsbereiches
          liegen, besteht keine Haftungsverpflichtung. Auf Gestaltung, Inhalte oder die Urheberschaft der verlinkten
          Seiten haben wir keinerlei Einfluss. Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten
          aller gelinkten oder verknüpften Seiten.<br><br>3) Urheber- und Kennzeichenrecht<br>Wir sind bestrebt, die
          Urheberrechte der verwendeten Objekte zu beachten. Bei selbst erstellten Objekten wie Texte, Bilder, Grafiken,
          Dateien usw. behalten wir uns alle Rechte vor. Diese Objekte unterliegen dem Urheberrecht und anderen Gesetzen
          zum Schutz des geistigen Eigentums. Ihre Weitergabe, Veränderung, gewerbliche Nutzung oder Verwendung in
          anderen Websites oder Medien ist nicht gestattet.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
